/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Voltaire&display=swap');

// Define colors
$darkblue: #333366;
$pepsiblue: #004883;
$pepsired: #C9002B;
$cupink: #CB668D;
$blue: #3973ac;
$orange: #E38E49;
$lightblue: #D4EBF8;
$charcoal: #424242; // secondary
$sandstone: #fcede2; // secondary
$jacaranda: #8f9ec9; // tertiary
$jaca-lite: #dde2ef; // tertiary
$cheri-rose: #daa8a2; // tertiary
$eucalypt: #71a499; // tertiary


// Fonts
$font-family-monospace: "Roboto Mono", monospace;
$font-family-sans-serif: "Anuphan", sans-serif;
// $font-family-sans-serif: "Noto Sans Thai", sans-serif;
$font-family-serif: "Kanit", serif;

// Body and links
$body-color: #555555; // body text
$text-muted: lighten($body-color, 50%);
$link-color: $pepsired;
$link-color-hover: lighten($link-color, 10%);
$selection-bg: $sandstone !default;

// Presentation settings

$presentation-heading-font: $font-family-sans-serif;
$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.7rem;
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size: 1.0em;
$presentation-h4-font-size: 0.8em;
$presentation-line-height: 1.34;
$presentation-heading-font-weight: 600 !default;
$presentation-heading-color: $pepsiblue; // Headings
$presentation-heading-line-height: 1.2;
$presentation-heading-letter-spacing: normal;
$presentation-heading-text-transform: none;
$presentation-heading-text-shadow: none;
// $presentation-heading-text-transform: uppercase !default; // from settings.scss
$presentation-h1-text-shadow: none;
$presentation-block-margin: 12px;
$presentation-slide-text-align: left;
$presentation-title-slide-text-align: center;


// general  
$body-bg: #FFFFFF;
$Almost-White: #f8f8f8;
$body-color: #000000;
$link-color: #4090BE;
$solid-blue: #07202E;
$presentation-font-size-root: 28px;

// math
$math-fontsize: 80%;

/*-- scss:rules --*/
.reveal pre code {
    background-color: #f8f8f8;
    font-size: 1em;
    padding: 0.5em;
    line-height: 1.2em;
}

.reveal .slide-number a {
    color: $link-color;
}

#title-slide {
    text-align: left;

    .title {
        font-size: 1.5em;
        border-bottom: 5px solid $link-color;
    }

    .title:after {
        content: '';
        display: block;
        border-bottom: 5px solid $solid-blue;
        margin-bottom: -5px;
        max-width: 50%;
    }

    .subtitle {
        color: $solid-blue;
        font-size: 90%;
        font-family: $presentation-heading-font;
    }


    .institute,
    .quarto-title-affiliation {
        font-style: italic;
        font-size: 80%;
    }

    .author,
    .quarto-title-author-name {
        color: $solid-blue;
        font-size: 85%;
    }

    .date,
    .quarto-title-author-name {
        color: $solid-blue;
        font-size: 80%;
    }

    .quarto-title-authors {
        display: flex;
        justify-content: left;

        .quarto-title-author {
            padding-left: 0em;
            padding-right: 0em;
            width: 100%;
        }
    }

    p.author::before,
    div.quarto-title-author::before {
        content: "";
        display: block;
        border: none;
        background-color: $body-bg;
        color: $solid-blue;
        height: 3px;
        margin-bottom: 1em;
    }

    p,
    a {
        color: $solid-blue;
    }
}

.author {
    color: $solid-blue;
    font-size: $h2-font-size;
    font-family: $presentation-heading-font;
}

.footer {
    font-family: $presentation-heading-font;
}

.reveal .slide-number {
    font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .footer {
    color: black;
}

.has-dark-background .footer {
    color: white;
}

.center-x {
    text-align: center;
}

.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%), translateX(-50%);
    transform: translateY(-50%), translateX(-50%);
}

section.has-dark-background a,
section.has-dark-background a:hover {
    color: $Almost-White;
}

.slide-logo {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    right: 10px !important;
    max-height: 8% !important;
    height: 100% !important;
    width: auto !important;
    color: $body-color !important;
}

.slide-number,
.reveal.has-logo .slide-number {
    bottom: 10px !important;
    right: 10px !important;
    top: unset !important;
    color: $body-color !important;
}

// Vertically Centering Elements
.v-center-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 90%;
}

// Vertically and Horizontal Centering Elements
.vh-center-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 90%;
    text-align: center;
}

.h-center-container {
    text-align: center;
}

// Math
.MathJax {
    font-size: $math-fontsize !important;
}

// adjust headings
.reveal .slide h3,
.reveal .slide h4,
.reveal .slide h5,
.reveal .slide h6 {
    margin-top: 1.5em;
    color: $eucalypt;
}


// code output
.reveal pre code {
    // background-color: #DAA8A2;
    color: #e64626;
    padding: 32px;
}

// aside footnote setting
.reveal .slide aside .aside-footnotes {
    font-size: 1rem;
}

.reveal .slide aside,
.reveal .slide div.aside {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 0.7em;
    color: #6f6f6f;
}

.reveal .slide sup {
    font-size: 1rem;
}

.reveal .contentbox {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    background-color: #99BC85;
    color: white;
    border-radius: 20px;
    text-align: center;
    aspect-ratio: 1 / 1;
    width: 300px;
    margin: auto;
    font-size: 2vw
}