/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Voltaire&display=swap');

// Define colors
$darkblue: #333366;
$pepsiblue: #004883;
$pepsired: #C9002B;
$cupink: #CB668D;
$blue: #3973ac;
$orange: #E38E49;
$lightblue: #D4EBF8;
$charcoal: #424242;     // secondary
$sandstone: #fcede2;    // secondary
$jacaranda: #8f9ec9;    // tertiary
$jaca-lite: #dde2ef;    // tertiary
$cheri-rose: #daa8a2;    // tertiary
$eucalypt: #71a499;     // tertiary


// Fonts
$font-family-monospace: "Roboto Mono", monospace;
$font-family-sans-serif: "Anuphan", sans-serif;
// $font-family-sans-serif: "Noto Sans Thai", sans-serif;
$font-family-serif: "Kanit", serif;

// Body and links
$body-color: #555555; // body text
$text-muted: lighten($body-color, 50%);
$link-color: $pepsired;
$link-color-hover: lighten($link-color, 10%);
$selection-bg: $sandstone !default;
// $selection-color: ;


// Presentation settings

$presentation-heading-font:	$font-family-sans-serif;
$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.7rem;
$presentation-h1-font-size:	2.5em;
$presentation-h2-font-size:	1.3em;
$presentation-h3-font-size:	1.0em;
$presentation-h4-font-size:	0.8em;
$presentation-line-height: 1.34;
$presentation-heading-font-weight:	600 !default;
$presentation-heading-color: $pepsiblue; // Headings
$presentation-heading-line-height:	1.2;
$presentation-heading-letter-spacing:	normal;
$presentation-heading-text-transform:	none;
$presentation-heading-text-shadow:	none;
// $presentation-heading-text-transform: uppercase !default; // from settings.scss
$presentation-h1-text-shadow:	none;
$presentation-block-margin:	12px;
$presentation-slide-text-align:	left;
$presentation-title-slide-text-align:	left!default;

// $border-color:	lighten($body-color, 30%);
// $border-width:	1px;
// $border-radius:	3px;

// Code
// $code-color:	var(–quarto-hl-fu-color);
$code-bg: $jaca-lite;
$code-block-border-color: $charcoal;
$code-block-font-size: 0.7em;
$code-block-bg: $jaca-lite;

//

$heading1Size: 2.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Vertical spacing between blocks of text
$blockMargin: 30px;

/*-- scss:rules --*/


// Align title and subtitle to left
#title-slide {
  text-align: left;

  .quarto-title-authors {
    justify-content: left!important;

    .quarto-title-author {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

// Edit title attributes
#title-slide .title {
  font-size: 2.2em!important;
  color: $cupink;
}

// Edit subtitle attributes
#title-slide .subtitle {
  font-size: 1em!important;
  color: $pepsiblue;
  width: 80%;
}

// Remove slide numbers from title slide
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

// Remove logo from title slide
// .reveal .slide-logo > a[href*='title-slide'] {
//   display: none;
// }

// Make callout font size standard
.reveal .slides section .callout {
  font-size: 0.9em!important;
}

// adjust headings
.reveal .slide h3,
.reveal .slide h4,
.reveal .slide h5,
.reveal .slide h6 {
  margin-top: 1.5em;
  color: $eucalypt;
}


// code output
.reveal pre code {
  // background-color: #DAA8A2;
  color:#e64626;
  padding: 32px;
}

// aside footnote setting
.reveal .slide aside .aside-footnotes {
  font-size: 1rem;
}
.reveal .slide aside, .reveal .slide div.aside {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 0.7em;
  color: #6f6f6f;
}

.reveal .slide sup {
  font-size: 1rem;
}

.reveal .contentbox {
  backdrop-filter: blur(5px); 
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
  background-color: white; 
  color: black;
  border-radius: 20px; 
  text-align: center; 
  aspect-ratio: 1 / 1;
  width: 250px; 
  margin: auto;
  font-size: 2vw
}

.reveal .cbgreen {
  background-color: #99BC85; 
  color: white; 
}

.reveal .imgboxt {
  position: absolute;
  display: block;
  top: 150px;
  right: -150px;
  width: 100px
}

.reveal .imgboxm {
  position: absolute;
  display: block;
  top: 300px;
  right: -150px;
  width: 100px
}

.reveal .imgboxb {
  position: absolute;
  display: block;
  top: 450px;
  right: -150px;
  width: 100px
}
